html {
    font-family: 'Montserrat', sans-serif, 'Times New Roman';
    font-weight: 700;
    font-size: 10px;
    overflow-x: hidden;
    background-color: #454545;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    background-color: #FEFEFE;
}

.header__line {
    height: 25px;
    background-color: #2E2E2E;
}


.header__nav {
    height: 34px;
    background-color: #FEFEFE;
}

.header__nav__block {
    display: flex;
    margin: 2px 0;
    height: 30px;
    float: right;
}

.header__nav__block a {
    text-align: center;
    line-height: 31px;
    width: 183px;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
}
.header__nav a:hover {
    background-color: rgba(134, 72, 143,0.85);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
}

.hello-page {
    background-color: #FEFEFE;
    position: relative;
    height: 354px;
}

.hello-page_back {
    height: 233px;
    width: 100%;
}

.hello {
    width: 100%;
    left: 50%;
    margin-left: -52px;
    top: 52px;
    color: rgba(240, 242, 255, 0.92);
    letter-spacing: 0.1em;
    position: absolute;
    font-size: 2.4rem;
}

.photo-block {
    left: 50%;
    margin-left: -107px;
    top: 89px;
    position: absolute;
}

.circle {
    position: absolute;
    left: 378px;
    top: 192px;
    height: 115px;
    width: 115px;
    background-color: #FFFFFF;
    border: 20px solid rgba(134, 72, 143, 0.85);
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
}

.circle:nth-last-child(2) {
    left: 784px;
}

.circle__text {
    line-height: 75px;
    color: rgba(26, 33, 94, 0.78);
    padding-left: 3px;
    font-size: 1.1rem;
    letter-spacing: 0.125em;
}

.circle__text:hover {
    color: rgba(95, 45, 76, 0.78);
}

.circle:nth-last-child(2) .circle__text {
    padding-left: 7px;
}
/* 
.ellipse__text */

.hello__text {
    letter-spacing: 0.125em;
    color: rgba(26, 33, 94, 0.78);
    padding-top: 76px;
    font-size: 0.9rem;
    text-align: center;
}

.directions {
    height: 423px;
    background-color: rgba(111, 126, 184, 0.78);
}

.directions__text {
    text-align: center;
    letter-spacing: 0.125em;
    color: #2e2e2e;
    font-size: 4.7rem;
    padding-top: 47px;
    text-shadow: 0px 4.00231px 4.00231px rgba(255, 251, 251, 0.25);
}

.directions__images {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.directions__images__block {
    position: relative;
    filter: blur(1.5px);
}

.directions__images__block:hover {
    filter: blur(0);
}

.directions__images__block p {
    position: absolute;
    text-align: center;
    top: 121px;
    left: 58px;
    font-size: 3.6rem;
    letter-spacing: 0.125em;
    color: rgba(253, 250, 254, 0.68);
    text-shadow: 0px 4.00231px 4.00231px rgba(255, 251, 251, 0.25);
}

.directions__images__block:last-child p {
    left: 36px;
}

.directions__images__block:nth-child(2) {
    margin-top: -9px;
}

.directions__images__block:nth-child(2) p {
    left: 61px;
    top: 98px;
    text-align: center;
}

.write-me__block {
    height: 84px;
}

.dots {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 64px;
    text-align: center;
    margin-left: 608px;
    margin-top: -11px;
}

.dots div {
    width: 12px;
    height: 12px;
    background-color: #813C8B;
    border-radius: 50%;
    cursor: pointer;
}

.dots div:nth-child(2) {
    background-color: #BA7BBC;
}

.write-me {
    width: 200px;
    cursor: pointer;
    margin-left: 540px;
    margin-top: 40px;
    height: 44px;
    background-color: #c5a6cd;
    border: 3.00174px solid rgba(129, 60, 139, 0.68);
    box-shadow: 0px 9.00521px 24.0139px rgba(0, 0, 0, 0.35);
    transition: 0.3s;
    display: block;
    text-decoration: none;
}

.write-me:hover {
    transform: scale(1.05);
}

.write-me p {
    font-size: 1.8rem;
    line-height: 44px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.125em;
    color: rgba(172, 1, 232, 0.68);
    text-shadow: 0px 4.00231px 4.00231px rgba(255, 251, 251, 0.25);
}

.footer {
    height: 64px;
    background-color: #2E2E2E;
}

.contacts {
    padding-top: 20px;
}

.contacts p, .contacts a {
    padding-bottom: 3px;
    font-size: 0.9rem;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts a:hover {
    color: #c5a6cd;
}

/* About me */
.about-photo {
    height: 489px;
    position: relative;
    background-image: url('images/aboutBack.png')
}
.about-photo__name {
    width: 250px;
    font-size: 1.7rem;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 252px;
    padding-left: 85px;
    float: left;
}

.about-photo__name span {
    margin-top: 20px;
    width: 13px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.45);  
}

.about-photo__text {
    text-align: center;
    color: rgba(255, 255, 255, 0.59);
    opacity: 0.23;
    font-size: 2.6rem;
    letter-spacing: 0.02em;
    line-height: 32px;
    padding-left: 600px;
}

.about-photo__text p:first-child {
    padding-left: 246px;
    padding-top: 89px;
}

.about-photo__text p:nth-child(2) {
    padding-left: 452px;
    padding-top: 90px;
}

.about-photo__text p:last-child {
    padding-left: 246px;
    padding-top: 74px;
}

.about-photo__text p:hover {
    color: #ffffff;
    cursor: pointer;
}

.my-skills {
    height: 417px;
    position: relative;
}

.my-skills__tittle {
    position: absolute;
    top: -55px;
    padding-left: 747px;
    text-align: center;
    color: #FFFFFF;
    font-size: 4.4rem;
    letter-spacing: 0.06em;
    line-height: 54px;
}

.my-skills__tittle span {
    color: #000000
}

.my-skills__content {
    display: grid;
    grid-template-columns: 34% 66%;
    padding-top: 97px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 160px;
}

.skills img {
    height: 153px;
}

.skills img:first-child {
    height: 170px;
    margin-left: -19px;
    margin-top: -8px;
}

.skills p {
    padding-top: 30px;
    padding-left: 15px;
    width: 130px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: #000000;
}

.skills span {
    width: 28px;
    height: 28px;
    display: block;
    background-color: #4451C9;
    border-radius: 50%;
    margin-left: 156px;
    margin-top: -60px;
}

.description {
    width: 217px;
    height: 170px;
    padding-left: 86px;
    padding-top: 67px;
    position: relative;
}

.biography {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 11px;
    text-align: justify;
    letter-spacing: -0.09em;
    color: #000000;
    z-index: 1;
}

.letter-I {
    color: #ffffff;
    font-size: 3.4rem;
    margin-left: -1px;
}

.first-circle {
    top: 135px;
    left: 68px;
    position: absolute;
    height: 55px;
    width: 55px;
    display: inline-block;
    background-color: rgba(68, 81, 201, 0.96);
    border-radius: 50%;
}

.second-circle {
    width: 18px;
    border-radius: 50%;
    height: 17px;
    display: inline-block;
    left: 312px;
    top: 206px;
    position: absolute;
    background-color: rgba(17, 28, 135, 0.96);
}

.third-circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
    left: 191px;
    top: 265px;
    position: absolute;
    background-color: rgba(13, 34, 228, 0.96);
}


/* PORTFOLIIO */

.portfolio-hello {
    height: 373px;
    background-image: url('images/GroupPortf.png');
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
}

.portfolio-hello__text {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 30px;  
    padding-top: 131px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}

.portfolio-content {
    position: relative;
}

.portfolio {
    height: 527px;
    display: grid;
    grid-template-columns: 16% 68% 16%;
}

.modulor1, .modulor2 {
    background-image: url('images/модулор.png');
    margin-top: 33px;
}

.modulor2 {
    transform: scale(-1, 1);
}

.portfolio__list {
    display: flex;
    width: 627px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 64px;
}

.portfolio__list__item {
    width: 106px;
    background-color: rgba(196, 196, 196, 0.52);
    height: 31px;
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #180E5A;
}

.portfolio__list__item:hover {
    cursor: pointer;
    background-color: #F8CFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.portfolio-works {
    padding-top: 54px;
    padding-left: 39px;
    display: grid;
    column-gap: 22px;
    row-gap: 10px;
    grid-template-columns: 223px 148px 203px 148px;

}

.portfolio-image:first-child {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3; 
}

.dots-group {
    width: 36px;
    height: 39px;
    position: absolute;
    top: 129px;
    left: 22px;
}

.dots-group:nth-child(2) {
    top: 435px;
    left: 810px;
}

.dots-group span {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-bottom: 4px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: rgba(50, 32, 113, 0.73);
}
